    <section>
        <h2>Create a New Contact...></h2>
        <form action="/contacts" method="POST" class="contact-form">
            <input type="text" name="Name" placeholder="Name">
            <input type="text" name="Country" placeholder="Country">
            <input type="number" name="Age" placeholder="Age">
            <input type="number" name="Phone" placeholder="Phone Number">
            <input type="email" name="Email" placeholder="Email address">
            <input type="hidden" name="id" class="contact-id">

            <button type="submit">Save Contact</button>
        </form>
    </section>
