<div class="container">
    <form action="/contact" method="POST" class="form">
        <h1>Create a new contact</h1>
        <input type="text" name="Name" placeholder="Name" class="form-grp">
        <input type="text" name="Country" placeholder="Country" class="form-grp">
        <input type="text" name="Phone" placeholder="Phone Number" class="form-grp">
        <input type="email" name="Email" placeholder="Email" class="form-grp">
        <input type="hidden" name="id">

        <div class="submitBtn">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>

